In [3]:
import numpy as np
import pandas as pd

In [4]:
s1 = pd.Series(['USA','Canada','Germany','Japan','France','UK'],['a','b','c','d','e','f'])

In [5]:
s1

a        USA
b     Canada
c    Germany
d      Japan
e     France
f         UK
dtype: object

In [6]:
s1[0:3]

a        USA
b     Canada
c    Germany
dtype: object

In [8]:
s1['a']

'USA'

In [29]:
s2 = pd.Series([1,2,3,4],['USA','Canada','Germany','Japan'])

In [30]:
s2

USA        1
Canada     2
Germany    3
Japan      4
dtype: int64

In [31]:
s3 = pd.Series([1,2,3,4],['France','Australia','Canada','USA'])

In [32]:
s3

France       1
Australia    2
Canada       3
USA          4
dtype: int64

In [33]:
s2 + s3

Australia    NaN
Canada       5.0
France       NaN
Germany      NaN
Japan        NaN
USA          5.0
dtype: float64