## For Loop

In [13]:
seq = [1,2,3,4,5]
for num in seq:
    print(num)

1
2
3
4
5

In [14]:
for num in seq:
    if num+1 <= 5:
        print(num+1)
    else:
        print("more than 5")

2
3
4
5
more than 5

## While Loop

In [17]:
i = 0

while i <= 5:
    print("i is {}".format(i))
    i = i +1

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5

In [18]:
i

6

### Continuing on....

In [21]:
for x in range(10,110,10):
    print(x)

10
20
30
40
50
60
70
80
90
100

In [22]:
#Making a list comprehensions

In [24]:
x = [1,2,3,4,5]
out = []
for num in x:
    out.append(num**2)

In [25]:
print(out)

[1, 4, 9, 16, 25]

In [27]:
out_alt = [num**2 for num in x]
print(out_alt)

[1, 4, 9, 16, 25]

## Defining a function

In [34]:
def power(num,degree):
    if num <= 10:
        return num**degree
    else:
        print("num is too large")

In [35]:
power(10,2)

100

In [36]:
power(11,2)

num is too large

In [37]:
def square(num,degree=2):
    if num <= 10:
        return num**degree
    else:
        print("num is too large")

In [38]:
square(4)

16

In [39]:
square(4,3)

64

In [40]:
def expo(num=2,degree):
    if num <= 10:
        return num**degree
    else:
        print("num is too large")

SyntaxError: non-default argument follows default argument (Temp/ipykernel_12320/34635891.py, line 1)

In [41]:
## ^ As you can see above, the default argument CANNOT be put before a non-default one. In this case,
## num is the default one and degree is non-default one

#### There is a difference between power() and power. Without using (), Python will give me what power function does

In [42]:
power

### MAP

#### Suppose we want to execute a function to a list, we can use 'MAP' function

In [54]:
list(map(square,seq))

[1, 4, 9, 16, 25]

In [61]:
mylist = [0,1,2,3,4,5,6,7,8,9,10,11]

In [70]:
list(map(square,mylist))

num is too large

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, None]

In [63]:
# ^It is returning a value of 'None' for the number 11 in the list because if you see the original function, we have implemented
# an if function, wherein, only values till 10 shall be considered for squaring.

### LAMBDA

#### But what if I had not defined by square function? What if I just wanted a temporary function on the fly. THAT'S WHERE LAMBDA EXPRESSION COMES INTO PLAY.

In [71]:
list(map(lambda num : num**2,mylist))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

### FILTER

#### Suppose I wanted to see in mylist how many numbers are divisible by 2 (basically, even numbers) and make a boolean-powered list. We can do list comprehension with an if function but that would be too complicated so we don't really want to do all that much. HERE COMES THE FILTER FUNCTION

In [73]:
#Step 1

In [74]:
filter(lambda num : num%2 ==0,mylist)

In [76]:
#Step 2 - Now we need to convert this to a  list

In [77]:
list(filter(lambda num : num%2 ==0,mylist))

[0, 2, 4, 6, 8, 10]

In [78]:
#It's that simple

## METHODS

In [91]:
s = 'Dog loves to play'

In [89]:
#Enter s. and after that hit the tab key in the keyboard to get the list of methods available for that type of variable

In [88]:
s.upper()

'DOG LOVES TO PLAY'

In [92]:
t = "Liverpool 2-2 Milan #ChampionsLeague"

In [93]:
t.split("#")

['Liverpool 2-2 Milan ', 'ChampionsLeague']

In [94]:
t.split('#')[0]

'Liverpool 2-2 Milan '

In [95]:
t.split('#')[1]

'ChampionsLeague'

### TUPLE UNPACKING

In [96]:
tpl = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [98]:
for (a,b) in tpl:
    print (a)

1
3
5
7
9

In [100]:
for (a,b) in tpl:
    print (b)

2
4
6
8
10